header {
  height: 80px;
  background-color: white;
}

.menu-toggle {
  position: absolute;
  right: 0;
  top: 0;
  font-size: $type-size-5;
  @include breakpoint(md) {
    font-size: $type-size-4;
  }
  div {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid black;
    margin: 1em 2em;
  }
}

.menu {
  z-index: 1;
  cursor: pointer;
  li {
    text-align: center;
  }

  ul {
    position: fixed;
    left: -9000px;
  }

  a {
    font-size: 2em;
    padding: 10px;
    color: white;
    &:hover {
      border: 1px solid white;
    }
  }
}

.menu-expanded {
  position: absolute;
  padding-top: 15%;
  line-height: 3em;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  ul {
    position: relative;
    left: 0;
    z-index: 2;
  }
}
