.index {
  main {
    background-color: black;
    color: white;
    padding-top: 7em;
    padding-bottom: 3em;
    }

  .page-title {
    margin-top: -30px;
    position: absolute;

    top: 50%;
    width: 100%;
    font-size: $type-size-1;

    @include breakpoint(xs) {
      font-size: $type-size-2;
    }
  }

  .icon {
    width: 2em;
  }

  .social-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: 24px;
    li {
      display: inline-block;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
