.instagram-images {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
.instagram-image {
  margin-top: 2em;
  margin-left: 1em;
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 302px;
}
