%header.centered
  %a.header__book{ href: '/book.html' } Book for catering
  %a.header__title{ href: '/' } Vegan Comfort Kitchen
  .menu-toggle
    %div Menu
.menu
  %nav
    %ul
      %li
        %a{ href: '/about.html' } About
