%header.centered
  .menu-toggle
    %div Menu
.menu
  %nav
    %ul
      %li
        %a{ href: '/' } Home
      %li
        %a{ href: '/about.html' } About
      %li
        %a{ href: '/book.html' } Catering
      %li
        %a{ href: '/press.html' } Photos & Press
      %li
        %a{ href: '/events.html' } Events
      %li
        %a{ href: '/contact.html' } Contact
