%main.container
  %p.top-text.text Vegan Comfort Kitchen is a a fresh approach to vegan food in Berlin. It will begin as a pop-up restaurant, but aims to become a staple of the vegan food landscape. It opens for business in August 2016 and is run and owned by Melissa Merriweather.

  %p.text VCK focuses its menu on American southern-style vegan adaptations, including Mac 'n Cheese and Chicken and Waffles.

  %p.text Melissa Merriweather is the chef and owner behind VCK. Originally from Michigan, Melissa came to Berlin two years ago. As a vegan for nearly 20 years, she has experimented widely in her cooking style, but she is most excited to share the cuisine she learned to cook with her mother during the holiday seasons of her childhood.

  = image_tag 'mel.jpg'
