%main.container
  %h1.h1 About
  %p.top-text.text Follow your stomach, eat chicken 'n' waffles. Vegan Comfort Kitchen focuses its menu on American southern-style vegan adaptations, like chicken 'n' waffles.
