%main.container
  %h1.h1 Book for Catering
  %p.top-text.text Vegan Comfort Kitchen is accepting booking requests from August 2016 on.

  %p.text
    %span Please email me at
    %span
      %a{href: "mailto:vegan.c.kitchen@gmail.com"} vegan.c.kitchen@gmail.com
    %span to submit your request, and I will get back to you as soon as possible! Thank you!
