%main.container
  %p.top-text Vegan Comfort Kitchen is accepting booking requests from August 2016 on.

  %p Please email me at vegan.c.kitchen@gmail.com to submit your request, and I will get back to you as soon as possible! Thank you!
