%main.centered
  %h1.page-title Vegan Comfort Kitchen
  %ul.social-buttons
    %li
      %a{ href: 'https://www.facebook.com/VeganComfortKitchen' }
        = inline_svg "facebook", class: 'icon'
    %li
      %a{ href: 'https://www.instagram.com/vegan_comfort_kitchen/' }
        = inline_svg "instagram", class: 'icon'
    %li
      %a{ href: 'https://twitter.com/ComfortVegan' }
        = inline_svg "twitter", class: 'icon'
