%main.container
  = inline_svg 'logo', class: 'legal__logo'
  %h1.h1 Legal Notice

  %h2.h2 Address
  %p Melissa Merriweather
  %p Schonensche Straße 30
  %p 13189 Berlin

  %h2.h2 Contact
  %p.text
    %span Email:
    %span
      %a{href: "mailto:vegan.c.kitchen@gmail.com"} vegan.c.kitchen@gmail.com
  %p.text Melissa Merriweather is a small entrepreneur within the meaning of section 19 of the Value Added Tax Act (UStG).

  %h2.h2 Disclaimer
  %p.text We assume no responsibility for the completeness and accuracy of the content of this website.

  %h2.h2 Collection and storage of personal data
  %p.text When visiting our website, some data are transmitted, like the pages visited, the date and time, IP address, and browser used. These can not be used to identify you by us. The information may be used to improve the website or for statistical analysis. If you submit personal data through a form or email, you are doing so voluntarily. It will be used only for the purpose for which you transmitted the data. Your data are handled by us in accordance with German data privacy laws only, particularly the German Federal Data Protection Act (BDSG) and the German Teleservices Act (TMG).

  %h2.h2 Disclosure of Data
  %p.text Personal data you submit to us through our website or email will be used to communicate with you and for the purpose that you provided it for only.

  %h2.h2 External Links
  %p.text This privacy statement does not apply to third party websites that we link to in our website.

  %h2.h2 Right to information, erasure of data and the right to revoke consent
  %p.text According to the Federal Data Protection Act, you have the right to information about our stored data on you, including its purpose for storage, origin and recipients. You have the right to revoke your consent to data processing and use, just contact us at vegan.c.kitchen@gmail.com.
