%main.container
  %h1.h1 Daily Menu

  %h2.h2 Salads and Sandwiches
  %p.list "Chicken" Caesar Salad: Romaine lettuce and homemade croûtons
  %p.list Tofu and Roasted Vegetable Salad:  Arugula and select roasted vegetables with balsamic dressing.
  %p.list Roasted Vegetable Sandwich:  Arugula and  select roasted vegetables with homemade sun-dried tomato cheese.

  %h2.h2 Weekly Specials
  %p.list Chicken ‘n’ Waffles: Crispy soy chicken with sweet corn waffle.
  %p.list Nacho Black Bean Burger: Homemade black bean burger with, avocado tortilla chips and nacho cheese sauce.

  %h2.h2 Sweet Treats
  %p.list Peanut butter cookies
  %p.list Chocolate covered bananas- Sprinkles or Peanuts
  %p.list Root Beer float
